@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <br>
    <h1 class="display-4">Welcome to the</h1>
    <h1 class="display-4">Cozy Library</h1>
    <i class="fas fa-book"></i>
    <i class="fas fa-mug-hot"></i>
    <i class="fas fa-seedling"></i>
    <br /><br />
</div>

